{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
<style>
    h2 {
        margin-left: 100px;
    }
    #testimonials {
        margin-top: 30px;
    }
    .testimonial {
        margin-left: 100px;
        margin-right: 30px;
    }
</style>
<img class="greed" src="{% static 'img/logo.png' %}" alt="greed">
<section id="about-info" class="bg-light py-3">
    <div class="container">
        <div class="info-left">
            <h1 class="l-heading"><span class="=testimonial bg-primar">About </span>Greed's Hotel</h1><br>
            <p>Greed's Hotel in Argao, Cebu, Philippines, was founded by Celso M. Puerto Jr. and Maria Zyma Saphy Legaspi Quipao in 1995. Situated on a hill, the hotel offered stunning views of the Bohol Strait. Combining modern comfort with Filipino cultural elements, the hotel became popular for its hospitality and commitment to showcasing the local heritage. </p><br>
            <p>
            Greed's Hotel in Argao, Cebu, Philippines, was founded by Celso M. Puerto Jr. and Maria Zyma Saphy Legaspi Quipao in 1995.
            </p>
        </div>
        <div class="info-right">
{#            <img src="{% static 'img/background.png' %}" alt="hotel">#}
        </div>
    </div>
</section>

<div class="clr"></div>

<section id="testimonials" class="py-3">
    <div class="container">
        <h2 class="l-heading">Our Proud Clients</h2>
        <div class="testimonial bg-primary">
            <img src="{% static 'img/19.jpg' %}" alt="celso">
            <p>Hi, I'm Ali a dynamic individual passionate about computers, games, and music. I thrive on exploring and finding new things to do with the help of God our father who arth in heaven, believe in continuous growth, and am eager to connect and explore new opportunities. Let's engage!</p>
        </div>

        <div class="testimonial bg-primary">
            <img src="{% static 'img/19.jpg' %}" alt="zyma">
            <p>Hello, I'm Royal a motivated individual with a keen interest in singing, art, cooking, and sleeping. Whether I'm engaged in work, pursuing hobbies, or any other relevant activities, I bring enthusiasm and a commitment to excellence. Eager to connect and discover new possibilities!</p>
        </div>
    </div>
</section>
<script>
    var greedLogo = document.querySelector('.greed');
    var lastScrollTop = 0;

    window.addEventListener("scroll", function() {
        var scrollTop = window.scrollY || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
        // Scrolling down
            greedLogo.style.opacity = "0";
        } else {
        // Scrolling up
            greedLogo.style.opacity = "1";
        }

        
    });
</script>
{% endblock content %}