{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<style>
    .validate {
      text-align: center;
      color: #ff0000;
    }
  </style>
    <div class="hero">
        <div class="form-box">
            
                <form method="POST" id="login" class="input-grouplog">
                    {% csrf_token %}
                    {{form.username}}
                    {{form.password}}
                    <br/>
                    <button type="submit" class="submit-btn">Log in</button>
                </form>

        </div>
        
            </div>

            <script>
            var x = document.getElementById("login");
            var y = document.getElementById("signup");
            var z = document.getElementById("btn");

            function signup(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }
            function login(){
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0";
            }
            </script>

{% endblock content %}